# Notebook Summary:

Within this notebook I will perform some basic exploratory data analysis of the dataset, as well as clean & process the data for later use.

In [1]:
# Loading all the libraries

import pandas as pd
import numpy as np

import math as mt

from scipy import stats as st 
from scipy.stats import norm 
from math import factorial
from matplotlib import pyplot as plt
import scipy.stats as stats
import plotly.express as px

In [2]:

# Load the dataset

df_vehicles = pd.read_csv('../vehicles_us.csv')

In [3]:
display(df_vehicles.head())
print()
df_vehicles.info()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

**Student Note:** The 'model_year' needs to be converted to integers since years are not floats. Under 'type' SUV is in all caps, will need to make this lowercase incase there's not consistency with capitalization throught the dataset. 'is_4wd' should be changed to Boolean. 'Odometer' can be changed to integer. 'date_posted' is currently an object but needs to be converted to datatime data type. There seem to be some missing values as well.

In [4]:
# Convert all values to lowercase within the 'type' column
# This will help me deal with any duplicate rows later

df_vehicles['type'] = df_vehicles['type'].str.lower()

In [5]:
# Replace NaN with obvious place holder value -1 for 'model_year'

df_vehicles['model_year'] = df_vehicles['model_year'].fillna(-1)

# Convert all values within 'model_year' to int type

df_vehicles['model_year'] = df_vehicles['model_year'].astype(int)

# Replace NaN with obvious place holder value -1 for 'odometer'

df_vehicles['odometer'] = df_vehicles['odometer'].fillna(-1)

# Convert all values within 'odometer' to int type

df_vehicles['odometer'] = df_vehicles['odometer'].astype(int)

# Replace NaN with obvious place holder value -1 for 'cylinders'

df_vehicles['cylinders'] = df_vehicles['cylinders'].fillna(-1)

# Fill NaN values with False and convert 1.0 to True

df_vehicles['is_4wd'] = df_vehicles['is_4wd'].fillna(False).astype(bool)

# Replace NaN values in 'paint_color' column with "unknown"

df_vehicles['paint_color'] = df_vehicles['paint_color'].fillna("unknown")

# Convert 'date_posted' column to datetime data type

df_vehicles['date_posted'] = pd.to_datetime(df_vehicles['date_posted'])

In [6]:
# Checking all of the changes from above

display(df_vehicles.head(10))
print()
df_vehicles.info()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011,bmw x5,good,6.0,gas,145000,automatic,suv,unknown,True,2018-06-23,19
1,25500,-1,ford f-150,good,6.0,gas,88705,automatic,pickup,white,True,2018-10-19,50
2,5500,2013,hyundai sonata,like new,4.0,gas,110000,automatic,sedan,red,False,2019-02-07,79
3,1500,2003,ford f-150,fair,8.0,gas,-1,automatic,pickup,unknown,False,2019-03-22,9
4,14900,2017,chrysler 200,excellent,4.0,gas,80903,automatic,sedan,black,False,2019-04-02,28
5,14990,2014,chrysler 300,excellent,6.0,gas,57954,automatic,sedan,black,True,2018-06-20,15
6,12990,2015,toyota camry,excellent,4.0,gas,79212,automatic,sedan,white,False,2018-12-27,73
7,15990,2013,honda pilot,excellent,6.0,gas,109473,automatic,suv,black,True,2019-01-07,68
8,11500,2012,kia sorento,excellent,4.0,gas,104174,automatic,suv,unknown,True,2018-07-16,19
9,9200,2008,honda pilot,excellent,-1.0,gas,147191,automatic,suv,blue,True,2019-02-15,17

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  int32
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      51525 non-null  int32
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  bool
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int32(2), int64(2), object(6)
memory usage: 4.4+ MB

In [7]:
# Check for fully duplicated rows & drop duplicates

df_vehicles = df_vehicles.drop_duplicates().reset_index(drop=True)

In [8]:
# Checking if non-null values decreased or not

df_vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  int32
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      51525 non-null  int32
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  bool
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int32(2), int64(2), object(6)
memory usage: 4.4+ MB

In [15]:
# Retrieves the unique values for each column using the unique() method

for column in df_vehicles.columns:
    unique_values = df_vehicles[column].unique()
    print(f"Unique values in {column}: {unique_values}")

Unique values in price: [ 9400 25500  5500 ...  3636  9249  7455]
Unique values in model_year: [2011   -1 2013 2003 2017 2014 2015 2012 2008 2018 2009 2010 2007 2004
 2005 2001 2006 1966 1994 2019 2000 2016 1993 1999 1997 2002 1981 1995
 1996 1975 1998 1985 1977 1987 1974 1990 1992 1991 1972 1967 1988 1969
 1989 1978 1965 1979 1968 1986 1980 1964 1963 1984 1982 1973 1970 1955
 1971 1976 1983 1954 1962 1948 1960 1908 1961 1936 1949 1958 1929]
Unique values in model: ['bmw x5' 'ford f-150' 'hyundai sonata' 'chrysler 200' 'chrysler 300'
 'toyota camry' 'honda pilot' 'kia sorento' 'chevrolet silverado 1500'
 'honda accord' 'ram 1500' 'gmc yukon' 'jeep cherokee'
 'chevrolet traverse' 'hyundai elantra' 'chevrolet tahoe' 'toyota rav4'
 'chevrolet silverado' 'jeep wrangler' 'chevrolet malibu' 'ford fusion se'
 'chevrolet impala' 'chevrolet corvette' 'jeep liberty' 'toyota camry le'
 'nissan altima' 'subaru outback' 'toyota highlander' 'dodge charger'
 'toyota tacoma' 'chevrolet equinox' 'nissan rogue'
 'mercedes-benz benze sprinter 2500' 'honda cr-v' 'jeep grand cherokee'
 'toyota 4runner' 'ford focus' 'honda civic' 'kia soul'
 'chevrolet colorado' 'ford f150 supercrew cab xlt'
 'chevrolet camaro lt coupe 2d' 'chevrolet cruze' 'ford mustang'
 'chevrolet silverado 3500hd' 'nissan frontier crew cab sv'
 'subaru impreza' 'jeep grand cherokee laredo' 'nissan versa'
 'ford f-250 sd' 'chevrolet silverado 1500 crew' 'ford f250 super duty'
 'chevrolet camaro' 'ford mustang gt coupe 2d' 'subaru forester'
 'ford explorer' 'ford f-350 sd' 'ford edge' 'nissan maxima' 'ford f-250'
 'nissan sentra' 'ford f150' 'chevrolet suburban' 'ford expedition'
 'dodge grand caravan' 'ford taurus' 'acura tl' 'ford f350 super duty'
 'ford ranger' 'gmc sierra' 'hyundai santa fe' 'ford escape'
 'gmc sierra 2500hd' 'honda civic lx' 'gmc sierra 1500' 'honda odyssey'
 'cadillac escalade' 'volkswagen jetta' 'toyota corolla'
 'chrysler town & country' 'volkswagen passat' 'toyota prius'
 'buick enclave' 'ford fusion' 'toyota tundra' 'ram 3500' 'ram 2500'
 'nissan frontier' 'chevrolet silverado 2500hd' 'jeep wrangler unlimited'
 'ford f-250 super duty' 'gmc acadia' 'toyota sienna' 'ford focus se'
 'ford f250' 'dodge dakota' 'ford f350' 'chevrolet trailblazer'
 'ford econoline' 'nissan murano']
Unique values in condition: ['good' 'like new' 'fair' 'excellent' 'salvage' 'new']
Unique values in cylinders: [ 6.  4.  8. -1.  5. 10.  3. 12.]
Unique values in fuel: ['gas' 'diesel' 'other' 'hybrid' 'electric']
Unique values in odometer: [145000  88705 110000 ... 121778 181500 139573]
Unique values in transmission: ['automatic' 'manual' 'other']
Unique values in type: ['suv' 'pickup' 'sedan' 'truck' 'coupe' 'van' 'convertible' 'hatchback'
 'wagon' 'mini-van' 'other' 'offroad' 'bus']
Unique values in paint_color: ['unknown' 'white' 'red' 'black' 'blue' 'grey' 'silver' 'custom' 'orange'
 'yellow' 'brown' 'green' 'purple']
Unique values in is_4wd: [ True False]
Unique values in date_posted: <DatetimeArray>
['2018-06-23 00:00:00', '2018-10-19 00:00:00', '2019-02-07 00:00:00',
 '2019-03-22 00:00:00', '2019-04-02 00:00:00', '2018-06-20 00:00:00',
 '2018-12-27 00:00:00', '2019-01-07 00:00:00', '2018-07-16 00:00:00',
 '2019-02-15 00:00:00',
 ...
 '2018-05-28 00:00:00', '2018-11-25 00:00:00', '2018-07-18 00:00:00',
 '2019-04-17 00:00:00', '2019-01-11 00:00:00', '2019-03-15 00:00:00',
 '2018-08-21 00:00:00', '2019-03-12 00:00:00', '2018-07-02 00:00:00',
 '2018-08-27 00:00:00']
Length: 354, dtype: datetime64[ns]
Unique values in days_listed: [ 19  50  79   9  28  15  73  68  17  38  29  37  24 111  13  25  27   8
  64  39  40  43  23  42 101  20  14   7  31 121  22  44   1  36  21  16
  10  60  51  35 261  71  99   2  26  48  54  85  41  53   3  33  30  47
  32  18  52 152  11 100  94  82 141  70  57  62  46  96  58  34  93  49
  55  67  78  12   6 108  72 112  83  61  59 130   4  98   5 164  56  75
  74  80  66  63 109  81  90 127  45  88  91  77  69  89 114  84 110 140
 104 120  97  76  92 128 113 129  65 115 106 116 154 151 147 124 102  87
 143  95  86 132 105 107   0 103 117 155 118 149 144 122 137 263 148 156
 179 126 169 136 125 131 119 177 174 173 134 171 145 139 166 244 228 142
 135 162 183 271 138 123 157 201 161 158 150 181 184 256 133 146 195 207
 163 206 236 160 190 165 159 153 204 233 185 221 226 172 203 176 202 240
 197 208 209 188 187 192 193 225 243 189 175 205 180 267 182 199 217 210
 178 223 167 170 194 168 213 191 252 200 186]

**Student Note:** There were no duplicate values. I will use describe on a few different columns below, as well as range, so that I have the numbers that I need for building my graphs.

In [10]:
# Use describe() method on the 'price' column

price_summary = df_vehicles['price'].describe()

# Print the summary statistics

print(price_summary)

count     51525.000000
mean      12132.464920
std       10040.803015
min           1.000000
25%        5000.000000
50%        9000.000000
75%       16839.000000
max      375000.000000
Name: price, dtype: float64

In [14]:
# Use describe() method on the 'model_year' column

model_year_summary = df_vehicles['model_year'].describe()

# Print the summary statistics

print(model_year_summary)

count    51525.000000
mean      1868.519884
std        513.882482
min         -1.000000
25%       2005.000000
50%       2010.000000
75%       2014.000000
max       2019.000000
Name: model_year, dtype: float64

In [11]:
# Provide summary statistics for the 'model' column, including count, unique values,
# top value (most frequent), and frequency of the top value.

model_summary = df_vehicles['model'].describe(include=['object'])

print(model_summary)

count          51525
unique           100
top       ford f-150
freq            2796
Name: model, dtype: object

In [12]:
# Provide summary statistics for the 'type' column

type_summary = df_vehicles['type'].describe(include=['object'])

print(type_summary)

count     51525
unique       13
top         suv
freq      12405
Name: type, dtype: object

In [13]:
# Provide summary statistics for the 'paint_color' column

paint_color_summary = df_vehicles['paint_color'].describe(include=['object'])

print(paint_color_summary)

count     51525
unique       13
top       white
freq      10029
Name: paint_color, dtype: object

In [16]:
# Provide summary statistics for the 'fuel' column

fuel_summary = df_vehicles['fuel'].describe(include=['object'])

print(fuel_summary)

count     51525
unique        5
top         gas
freq      47288
Name: fuel, dtype: object

In [17]:
# Provide summary statistics for the 'is_4wd' column

is_4wd_summary = df_vehicles['is_4wd'].describe(include=['object'])

print(is_4wd_summary)

count     51525
unique        2
top       False
freq      25953
Name: is_4wd, dtype: object

In [18]:
# Provide summary statistics for the 'transmission' column

transmission_summary = df_vehicles['transmission'].describe(include=['object'])

print(transmission_summary)

count         51525
unique            3
top       automatic
freq          46902
Name: transmission, dtype: object